html{
  font-size: 18px;
  font-family: Helvetica;
}
body{
  padding: 0;
  margin: 0;
}
.container{
  margin: auto;
  max-width: 960px;
}
.container header{
    display:flex;
    background-color: cadetblue;
    justify-content: space-between;
    align-items: center;
    color: white
}
header .nav{
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
header img{
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
.ps{
  padding-right: 20px;
}
.content{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0px;
   height: 30rem;
   padding-top: 1rem;
}
.main-banner{
  display: flex;
  justify-content: flex-end;
  max-width: 1100px;
  margin: auto;
}
.main-banner .phrase{
  background-color: white;
  margin-top:15rem;
  padding: 2rem 3rem;
}
.threeimg img{
  margin-top: 108px;
  width: 3.5rem;
  align-items: center;
  justify-content: space-around;
  display: inline-flex;
  margin-left: 80px;
}
